@import url("libs/jquery.bxslider.css");

@import url("common/btn.css");
@import url("common/clearfix.css");
@import url("common/center.css");
@import url("common/form.css");
@import url("common/hidden.css");
@import url("common/post.css");

@import url("layout/page.css");
@import url("layout/header.css");
@import url("layout/navi.css");

@import url("other/blog.css");
@import url("other/bxslider.css");
@import url("other/cart.css");
@import url("other/checkout-prop.css");
@import url("other/callback.css");
@import url("other/home-cont.css");
@import url("other/home-intro.css");
@import url("other/home-main.css");
@import url("other/filter.css");
@import url("other/map.css");
@import url("other/goods.css");
@import url("other/goods-slider.css");
@import url("other/rating.css");
@import url("other/reviews.css");
@import url("other/social.css");
@import url("other/paint.css");
@import url("other/prod-cont.css");
@import url("other/prod-navi.css");
@import url("other/prod-preview.css");
@import url("other/prod-info.css");
@import url("other/offer-scale-premium.css");
@import url("other/qnt.css");

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #272727;
  font-size: 14px;
  line-height: 2.4em;
}

i, em {
  font-style: italic;
}
a, .link {
  text-decoration: none;
  color: #e66148;
  outline-style: none;
  cursor: pointer;
}
a:hover, .link:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: bold;
}