.btn {
	display: inline-block;
	cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #dc3b1d;
	color: #e7430b;
  font-size: 16px;
  line-height: 41px;
  font-weight: bold;
	padding: 0 23px;
	border-radius: 41px;
	transition: all linear 0.2s;
	text-decoration: none;
	outline-style: none;
	text-align: center;
}
.btn:hover {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
	text-decoration: none;
	outline-style: none;
}
.btn_display_block {
  display: block;
}
.btn_width_whole {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.btn_color_brack {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
 	color: #fff;
}
.btn_color_red {
	background-color: #e33d1e;
	border-color: #e33d1e;
 	color: #fff;
}
.btn_color_b-white-red {
  border: solid 1px #ffffff;
  background-color: #ea4600;
  color: #fff;
}
.btn_color_b-white-red:hover {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
	text-decoration: none;
	outline-style: none;
}
.btn_height_48 {
  line-height: 48px;
}
.btn_height_59 {
  height: 59px;
  font-size: 17px;
}
.btn__hint {
  font-size: 14px;
  line-height: 1.57;
  color: #a0a0a0;
}
.btn_weight_bold {
	font-weight: bold;
}