.btn {
	display: inline-block;
	cursor: pointer;
	border: 2px solid #d23002;
	background-color: #d23002;
	color: #fff;
	font-size: 14px;
	line-height: 41px;
	padding: 0 23px;
	border-radius: 23px;
	transition: all linear 0.2s;
	text-decoration: none;
	outline-style: none;
	text-align: center;
	min-width: 181px;
}
.btn:hover {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #fff;
	text-decoration: none;
	outline-style: none;
}