.bx-wrapper {
  border-style: none;
  box-shadow: none;
  background-color: transparent;
  margin: 0 auto;
}
.bx-wrapper .bx-pager {
  bottom: 16px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #ffffff;
  opacity: 0.7;
  width: 10px;
  height: 10px;
}
.bx-wrapper_color_white {
  background-color: #fff;
}
.bx-wrapper_color_white .bx-pager.bx-default-pager a {
  background-color: #b1b1b1;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #ff3f00;
}