.colors {
	margin: 0 0 -6px 0;
}
.colors_type_norma {
  margin-bottom: 30px;
}
.colors__list {
	margin: 0 -11px 2px -11px;
	text-align: center;
}
.colors__item {
	display: inline-block;
	vertical-align: top;
	width: 155px;
	margin: 0 11px 31px 11px;
}
.colors__name {
  font-family: Georgia;
  font-size: 14px;
  font-style: italic;
  line-height: 1.57;
  color: #565656;
  text-align: left;
}
.colors__more {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: center;
  color: #e33d1e;
  display: block;
  text-decoration: none;
  text-align: center;
}
.colors__more:hover {
	text-decoration: underline;
}