.filter-cost.ui-slider {
  height: 4px;
  background: #afafaf;
  border: none;
  margin-top: 31px;
  margin-bottom: 64px;
}
.filter-cost .ui-slider-range {
  background: #de3a1a;
}
.filter-cost .ui-slider-handle {
  background: url('../../images/slider.png') no-repeat center;
  border: none;
  width: 16px;
  height: 24px;
  margin-left: -8px;
  padding: 0;
  top: -26px;
  bottom: 0;
  outline: none;
}
.filter-cost .ui-slider-handle {
  background: url('../../images/slider.png') no-repeat center;
  border: none;
  width: 16px;
  height: 24px;
  margin-left: -8px;
  padding: 0;
  top: 6px;
  bottom: 0;
  outline: none;
}
.filter-cost .ui-slider-range {
  background: #de3a1a;
}
.ui-slider-handle-cost-min, .ui-slider-handle-cost-max {
  position: absolute;
  bottom: 100%;
  left: 0;
  font-size: 15px;
  line-height: 1.47;
  color: #272727;
  display: block;
  margin-bottom: 5px;
}
.ui-slider-handle-cost-max {
  left: auto;
  right: 0;
}