.home-intro {
  margin: -30px 0 0 0;
}
.home-intro__item {
  height: 488px;
}
.home-intro__item-inside {
  max-width: 375px;
  margin: 0 auto;
  height: 488px;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.home-intro__content {
  height: 378px;
}
.home-intro__title {
  font-size: 28px;
  font-weight: bold;
  padding: 38px 0 1px 0;
}
.home-intro__text {
  font-size: 21px;
  font-family: Georgia;
}