.pf {
  text-align: center;
  padding: 30px 0 20px 0;
  margin-bottom: 30px;
  border: 1px solid #d4d4d4;
}
.pf__item {
  position: relative;
  display: block;
  vertical-align: top;
  max-width: 210px;
  width: 100%;
  padding-top: 110px;
  margin: 20px auto;
  font-size: 15px;
  line-height: 1.2em;
}
.pf__item_type_1 {
  background: url('../../images/pf-1.png') center top no-repeat;
}
.pf__item_type_2 {
  background: url('../../images/pf-2.png') center top no-repeat;
}
.pf__item_type_3 {
  background: url('../../images/pf-3.png') center top no-repeat;
}