.prod-preview {
  position: relative;
  overflow: hidden;
  max-width: 375px;
  margin: -30px auto 24px auto;
  color: #fff;
}
.prod-preview__discont {
  position: absolute;
  right: 33px;
  top: 0;
  width: 62px;
  height: 79px;
  padding-top: 29px;
  padding-left: 7px;
  text-align: center;
  background-image: url('../../images/sprites.png');
  background-repeat: no-repeat;
  background-position: -104px -370px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
}
.prod-preview__slider-img {
  max-width: 375px;
  width: 100%;
}
.prod-preview__ico {
  width: 25px;
  height: 23px;
  background-image: url('../../images/sprites.png');
  display: inline-block;
  cursor: pointer;
}
.prod-preview__ico_type_best {
    background-repeat: no-repeat;
    background-position: -133px -323px;
}
.prod-preview__ico_type_like {
    background-repeat: no-repeat;
    background-position: -133px -298px;
}
.prod-preview__btn {
  margin-left: 30px;
  display: inline-block;
}
.prod-preview__btn-count {
  font-size: 17px;
  line-height: 23px;
  font-weight: bold;
  margin-left: 5px;
  z-index: 20;
}
.prod-preview__actions {
  position: absolute;
  right: 20px;
  bottom: 16px;
  white-space: nowrap;
  font-size: 0;
  height: 23px;
}