.prod-like__item {
	margin-bottom: 14px;
}
.prod-like__item:last-child {
	margin-bottom: 0;
}
.prod-like__preview {
	float: left;
	width: 123px;
}
.prod-like__preview-img {
	display: block;
	width: 100px;
}
.prod-like__name {
  font-size: 13px;
  line-height: 1.38;
  margin-bottom: 6px;
}
.prod-like__like {
	text-decoration: none;
  color: #2d2d2d;
}
.prod-like__like:hover {
	text-decoration: underline;
}
.prod-like__old-cost {
  font-size: 14px;
  line-height: 1.57;
  color: #989898;
  text-decoration: line-through;
  margin-bottom: 9px;
}
.prod-like__cost {
  font-size: 18px;
  line-height: 1;
  color: #000000;
}